* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body{
  background-color: #0b0a09;
}

.poppins-regular {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.poppins-extrabold {
  font-family: "Poppins", sans-serif;
  font-weight: 800;
  font-style: normal;
}

.poppins-black {
  font-family: "Poppins", sans-serif;
  font-weight: 900;
  font-style: normal;
}

.land {
  width: 100%;
  display: flex;
  justify-content: center;
  background: #0b0a09;
 
}
 
#landing-section {
  background-image: url("../images/Home.png");
  width: 100%;
  max-width: 1920px;
  height: 1071px;
  gap: 0px;
  opacity: 0px;
  background-repeat: no-repeat;
  background-position: left;
  background-size: cover;
  position: relative;
  margin: auto;
}

.home-main-img {
  display: none;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 0 20px;
  box-sizing: border-box;
}

.menu {
  display: none;
}

.logo-image {
  width: 160px;
  height: 77.41px;
  margin-left: 80px;
  margin-top: 20px;
}

.jbl {
  display: none;
}

h4{
  font-weight: 600px;
}

nav ul {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  padding: 0;
  margin: 0;
  justify-content: right;
}

nav ul li {
  color: #ffffff;
  font-family: poppins;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  margin: 0 38px;
}

nav ul li a {
  text-decoration: none;
  color: #ffffff;
  position: relative;
  right: 95px;
}

nav ul li:first-child a {
  color: #590078;
}

header,
nav {
  width: 100%;
  max-width: 1440px;
}

.hero-text img {
  width: 80%;
  max-width: 536px;
  height: auto;
  margin-top: 499px;
  margin-left: 21%;
  display: flex;
  object-fit: contain;
  position: absolute;
}

.social-media {
  width: 24px;
  height: 24px;
  top: 511px;
  left: 160px;
  padding: 2px;
  gap: 0px;
  opacity: 0px;
}

aside {
  width: 123px;
  height: 250px;
}

.social {
  display: flex;
  flex-direction: column;
  width: 24px;
  height: 104px;
  top: 511px;
  left: 160px;
  gap: 0px;
  opacity: 0px;
  position: absolute;
}

.follow-us p {
  transform: rotate(90deg);
  width: 83px;
  height: 24px;
  top: 399px;
  left: 132px;
  gap: 0px;
  opacity: 0px;
  font-weight: 500px;
  position: absolute;
  font-size: 16px;
  color: #9d9895;
}

hr {
  width: 48px;
  height: 0px;
  top: 481px;
  left: 259px;
  gap: 0px;
  opacity: 0px;
  transform: rotate(90deg);
  position: absolute;
}

#about-page {
  background-color: #0b0a09;
  width: 100%;
  max-width: 1920px;
  height: 478px;
  top: 1071px;
  padding: 130px 0px 88px 0px;
  gap: 0px;
  opacity: 0px;
  margin: auto;
  color: white;
}

/* block 2 */
.block2 {
  width: 100%;
  display: flex;
  justify-content: center;
  background-color: #0b0a09;
}

.block2-container {
  max-width: 1440px;
  width: 100%;
  height: 478px;
  display: flex;
  justify-content: center;
}

.block2-group1 {
  max-width: 989px;
  width: 100%;
  height: 511px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  text-align: center;
  padding: 0 20px;
}

.block2-contents {
  width: 401px;
  text-align: start;
}

.block2-contents h3 {
  font-size: 36px;
  font-weight: 600;
  line-height: 54px;
  color: #ffffff;
  margin-top: 33px;
}

.block2-contents p {
  font-size: 16px;
  line-height: 24px;
  color: #9d9895;
  margin-top: 20px;
}

.block2-img {
  width: 500px;
}

.block2-img .infine {
  width: 100%;
  margin-top: 11px;
  margin-left: 64px;
}

.block2-img .bloc-headp {
  display: none;
}

.block2-contant-sec2 {
  margin-top: 55px;
}

.shaded-btn img {
  width: 32px;
  height: 32px;
  padding: 2.67px;
}

.shaded-btn {
  background: linear-gradient(90deg, #4a4745 0%, #151414 100%);
  width: 178px;
  height: 56px;
  text-align: center;
  border: none;
  justify-content: center;
  border-radius: 20px;
  color: #ffffff;
}

.items-main {
  width: 100%;
  background-color: #0b0a09;
  color: white;
}

.items {
  width: 100%;
  max-width: 1440px;
  height: 676px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin: 0 auto;
  padding: 0 20px;
  overflow: hidden;
}

.items h3 {
  margin-bottom: 40px;
  font-size: 36px;
  font-weight: 600;
  line-height: 54px;
  text-align: left;
}

.item-images {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 10px;
  width: 100%;
}

.item-images {
  display: flex;
  flex-direction: row;
  gap: 20px;
  width: 100%;
}

.blr img {
  width: 100%;
  max-width: 280px;
  height: auto;
}

.no-blr img {
  width: 100%;
  max-width: 350px;
  height: auto;
}

.no-blr-btn .nbb {
  background: linear-gradient(90deg, #4a4745 0%, #151414 100%);
  width: 145px;
  height: 40px;
  border: none;
  border-radius: 20px;
  color: #ffffff;
}

.blr-btn .bb {
  background: linear-gradient(90deg, #4a4745 0%, #151414 100%);
  width: 145px;
  height: 40px;
  border: none;
  border-radius: 20px;
  color: #ffffff;
  filter: blur(3px);
}

/* section4 */
.section4 {
  width: 100%;
  background-color: #0b0a09;
  color: white;
}

.headphone {
  max-width: 500px;
  position: relative;
}

.headphone .image {
  width: 100%;
  height: 487.08px;
  margin-top: 40px;
}

.headphone .d1 {
  width: 20px;
  height: 20px;
  position: absolute;
  top: 165px;
  right: 46px;
}

.headphone .r11 {
  width: 40px;
  position: absolute;
  border: 2px #7d7978;
  top: 146px;
  right: 9px;
}

.headphone .r12 {
  right: -22px;
  width: 32px;
  border: 2px #7d7978;
  position: absolute;
  top: 146px;
}

.headphone .easy {
  max-width: 115px;
  height: 50px;
  position: absolute;
  top: 120px;
  right: -112px;
}

.headphone .d2 {
  width: 20px;
  height: 20px;
  position: absolute;
  top: 365px;
  right: 182px;
}

.headphone .r21 {
  width: 40px;
  position: absolute;
  border: 2px #7d7978;
  top: 349px;
  right: 147px;
}

.headphone .r22 {
  width: 132px;
  position: absolute;
  top: 349px;
  right: 16px;
}

.headphone .custom {
  max-width: 115px;
  height: 50px;
  position: absolute;
  top: 323px;
  right: -85px;
}

.headphone .d3 {
  width: 20px;
  height: 20px;
  position: absolute;
  top: 185px;
  right: 285px;
}

.headphone .l11 {
  width: 32px;
  position: absolute;
  top: 172px;
  right: 303px;
}

.headphone .l12 {
  width: 40px;
  position: absolute;
  border: 2px #7d7978;
  top: 172px;
  right: 334px;
}

.headphone .comfort {
  max-width: 115px;
  height: 50px;
  position: absolute;
  top: 376px;
  left: -95px;
}

.headphone .d4 {
  width: 20px;
  height: 20px;
  position: absolute;
  top: 416px;
  left: 66px;
}

.headphone .l21 {
  width: 32px;
  position: absolute;
  top: 399px;
  left: 41px;
}

.headphone .l22 {
  width: 40px;
  position: absolute;
  border: 2px #7d7978;
  top: 399px;
  left: 1px;
}

.headphone .charge {
  max-width: 115px;
  height: 50px;
  position: absolute;
  top: 148px;
  right: 361px;
}

.spec-sec {
  width: 100%;
  max-width: 1440px;
  height: 743px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin: 0 auto;
  padding: 0 20px;
}

.spec-head {
  max-width: 533px;
  height: 54px;
}

.spec-head h3 {
  font-size: 36px;
  font-weight: 600;
  line-height: 54px;
  text-align: left;
}

.spec-btn button img {
  width: 32px;
  height: 32px;
  padding: 2.67px;
  gap: 0px;
  opacity: 0px;
}

.spec-btn {
  position: relative;
  top: 4px;
  left: 4px;
}

.spec-btn button {
  color: white;
  padding: 10px 20px;
  border-radius: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5%;
  width: 158px;
  height: 56px;
  border: none;
  margin-top: 25px;
  background: linear-gradient(90deg, #4a4745 0%, #151414 100%);
}

/* Sponser */
.sponser-section {
  width: 100%;
  display: flex;
  justify-content: center;
  background-color: #0b0a09;
  padding: 20px 0;
}

.sponser-main {
  width: 100%;
  max-width: 1440px;
  height: 211px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin: 0 auto;
  padding: 0 20px;
}

.sponser {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 9%;
  width: 100%;
  max-width: 100%;
}

.sponser-img img {
  width: 100px;
  height: 30px;
  object-fit: contain;
}

/* Footer */
.section-footer {
  width: 100%;
  background-color: #0b0a09;
  color: white;
}

.footer-div {
  width: 100%;
  max-width: 1440px;
  height: 443px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin: 0 auto;
  padding: 0 20px;
}

.foot-row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.social-med {
  display: flex;
  flex-direction: row;
}

.social-med img {
  width: 24px;
  height: 24px;
}

.foot-column{
  margin-left: 20px;
}

.foot-col {
  margin-right: 91px;
}

.foot-col ul {
  list-style: none;
  padding: 0;
}

.foot-col ul li {
  margin-bottom: 10px;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  text-align: left;
  color: #9d9895;
}

.foot-col ul li a {
  text-decoration: none;
  color: #9d9895;
}

.foot-col h4 {
  margin-bottom: 15px;
  font-size: 20px;
  font-weight: 600;
  line-height: 30px;
  text-align: left;
}

.foot-desc {
  color: #9d9895;
}

.foot-desc .desktop-desc {
  margin-top: 114px;
  font-size: 14px;
}

.foot-desc .desktop-desc a {
  color: #590078;
}

.foot-btn input {
  padding: 10px;
  color: #ffffff;
  border: none;
  border-radius: 39px;
  width: 330px;
  height: 62px;
  background: #1b1918;
}

::placeholder{
  color: #ffffff;
}

.foot-btn :focus {
  outline: none;
}

.subscribe-btn {
  background: linear-gradient(90deg, #4a4745 0%, #151414 100%);
  color: white;
  padding: 10px 20px;
  border-radius: 30px;
  display: flex;
  align-items: center;
  gap: 5%;
  position: absolute;
  top: 5px;
  left: 180px;
  border: none;
}

.subscribe-btn img {
  width: 32px;
  height: 32px;
  padding: 3.03px 2.98px 2.06px 2.07px;
  gap: 0px;
  opacity: 0px;
}

.foot-btn {
  position: relative;
  margin-bottom: 38px;
}

.social-row {
  margin-right: 20px;
}

.mobile-description {
  display: none;
}

@media(max-width:950px){
  nav ul {
    display: none;
  }

  .logo-image {
    width: 124px;
    height: 66.41px;
    margin-left: 0px;
    margin-top: 20px;
  }

  .hero-text h1 {
    display: none;
  }

  hr{
    left: 50px;
    position: absolute;
  }

  .social {
    left: 65px;
  }

  .follow-us p {
    left: 36px;
  }

  .menu {
    display: block;
    position: relative;
    margin-left: auto;
    margin-right: 20px;
  }

  .menu .menu-img {
    width: 50px;
    height: auto;
    position: relative;
    top: 0;
    left: 0;
  }

  .hero-text img {
    width: 60%;
    max-width: 536px;
    height: auto;
    margin-top: 499px;
    margin-left: 22%;
    display: flex;
    object-fit: contain;
    position: absolute;
  }
}

@media(max-width:1044px){
  .block2-group1 {
    max-width: 989px;
    width: 100%;
    height: 405px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    flex-direction: column;
  }

  .block2-container {
    max-width: 1440px;
    width: 100%;
    height: 589px;
    display: flex;
    justify-content: center;
  }

  .block2-contents h3 {
    font-size: 36px;
    font-weight: 600;
    line-height: 54px;
    color: #ffffff;
    display: flex;
    justify-content: center;
    margin-top: 25px;
  }

  .block2-contant-sec2 {
    margin-top: 55px;
    display: flex;
    justify-content: center;
  }

  .block2-img .infine {
    width: 85%;
    margin-top: 58px;
  }

  .spec-btn button {
    color: white;
    padding: 10px 20px;
    border-radius: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5%;
    width: 158px;
    height: 56px;
    border: none;
     margin-top: -25px; 
    background: linear-gradient(90deg, #4a4745 0%, #151414 100%);
  }

  .block2-img .infine {
    width: 100%;
    margin-top: 58px;
    margin-left: -6px;
  }
}

@media (max-width: 770px) {
  .logo-image {
    width: 144px;
    height: 64.41px;
    margin-left: 0px;
    margin-top: 20px;
  }

  .follow-us p {
    transform: rotate(90deg);
    width: 83px;
    height: 24px;
    top: 355px;
    left: 45px;
    gap: 0px;
    opacity: 0px;
    position: absolute;
  }

  .social {
    display: flex;
    flex-direction: column;
    width: 24px;
    height: 104px;
    top: 511px;
    left: 74px;
    gap: 0px;
    opacity: 0px;
    position: absolute;
  }

  hr {
    width: 48px;
    height: 0px;
    top: 461px;
    left: 106px;
    gap: 0px;
    border: 1px 0px 0px 0px;
    opacity: 0px;
    transform: rotate(90deg);
    position: absolute;
  }

  .block2-group1 {
    max-width: 989px;
    width: 100%;
    height: 405px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    flex-direction: column;
  }

  .block2-container {
    max-width: 1440px;
    width: 100%;
    height: 589px;
    display: flex;
    justify-content: center;
  }

  .block2-contents h3 {
    font-size: 36px;
    font-weight: 600;
    line-height: 54px;
    color: #ffffff;
    display: flex;
    justify-content: center;
    margin-top: 25px;
  }

  .foot-row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
  }

  .footer-div {
    width: 100%;
    max-width: 1440px;
    height: 463px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 0 auto;
    padding: 0 20px;
  }

  .block2-contant-sec2 {
    margin-top: 55px;
    display: flex;
    justify-content: center;
  }

  .block2-img .infine {
    width: 100%;
    margin-top: 58px;
  }

  .block2-img .infine {
    width: 85%;
    margin-top: 58px;
  }

  .social-med {
    display: flex;
    flex-direction: row;
    justify-content: center;
  }

  .foot-col {
    margin-right: 58px;
  }
}

@media (max-width: 720px) {
  nav ul {
    display: none;
  }

  .logo-image {
    width: 124px;
    height: 66.41px;
    margin-left: 0px;
    margin-top: 20px;
  }

  .hero-text h1 {
    display: none;
  }

  hr {
    left: 50px;
    position: absolute;
  }

  .social {
    left: 65px;
  }

  .follow-us p {
    left: 36px;
  }

  .menu {
    display: block;
    position: relative;
    margin-left: auto;
    margin-right: 20px;
  }

  .menu .menu-img {
    width: 50px;
    height: auto;
    position: relative;
    top: 0;
    left: 0;
  }

  .block2-group1 {
    max-width: 989px;
    width: 100%;
    height: 517px;
    align-items: center;
    text-align: center;
    display: flex;
    flex-direction: column;
  }

  .block2-container {
    height: 604px;
  }

  .block2-img .infinite {
    margin-top: 30px;
    width: 400px;
  }

  .block2-contant-sec2 {
    display: flex;
    justify-content: center;
  }

  .block2-contents h3 {
    font-size: 25px;
    font-weight: 600;
    display: flex;
    justify-content: center;
    margin-top: 29px;
  }

  .block2-contents p {
    font-size: 15px;
    line-height: 23px;
    color: #9d9895;
    margin-top: 37px;
    display: flex;
    justify-content: center;
    text-align: center;
    margin: auto;
  }

  .block2-img .infine {
    display: none;
  }

  .block2-img {
    width: 280px;
  }

  .block2-img .bloc-headp {
    display: block;
    width: 280px;
    margin-top: 71px;
  }

  .headphone .image {
    width: 100%;
    height: 487.08px;
    margin-top: 40px;
    max-width: 280px;
    height: 272px;
  }

  .headphone .l11 {
    width: 29px;
    position: absolute;
    top: 149px;
    right: 148px;
  }

  .headphone .r12 {
    right: 176px;
    width: 28px;
    border: 2px #7d7978;
    position: absolute;
    top: 149px;
  }

  .headphone .easy {
    max-width: 105px;
    height: 50px;
    position: absolute;
    top: 48px;
    right: 128px;
  }

  .headphone .d4 {
    width: 20px;
    height: 20px;
    position: absolute;
    top: 82px;
    left: 188px;
  }

  .headphone .l21 {
    width: 28px;
    position: absolute;
    top: 71px;
    left: 161px;
  }

  .headphone .l22 {
    width: 30px;
    position: absolute;
    border: 2px #7d7978;
    top: 71px;
    left: 132px;
  }

  .headphone .comfort {
    max-width: 115px;
    height: 50px;
    position: absolute;
    top: 125px;
    left: -22px;
  }

  .headphone .d2 {
    width: 20px;
    height: 20px;
    position: absolute;
    top: 270px;
    right: 203px;
  }

  .items h3 {
    font-size: 25px;
  }

  .spec-head h3 {
    font-size: 27px;
  }

  .headphone .r21 {
    width: 27px;
    position: absolute;
    border: 2px #7d7978;
    top: 255px;
    right: 184px;
  }

  .headphone .l12 {
    width: 31px;
    position: absolute;
    border: 2px #7d7978;
    top: 255px;
    right: 154px;
  }

  .headphone .charge {
    max-width: 125px;
    height: 50px;
    position: absolute;
    top: 231px;
    right: 61px;
  }

  .headphone .d1 {
    width: 20px;
    height: 20px;
    position: absolute;
    top: 205px;
    right: 113px;
  }

  .headphone .r11 {
    width: 28px;
    position: absolute;
    border: 2px #7d7978;
    top: 191px;
    right: 91px;
  }

  .headphone .r22 {
    width: 34px;
    position: absolute;
    top: 191px;
    right: 58px;
  }

  .headphone .custom {
    max-width: 115px;
    height: 50px;
    position: absolute;
    top: 167px;
    right: -19px;
  }

  .headphone .d3 {
    width: 20px;
    height: 20px;
    position: absolute;
    top: 157px;
    right: 133px;
  }
}

@media (max-width: 430px) {
  .menu .menu-img {
    width: 24px;
    height: auto;
    position: relative;
    top: 0;
    left: 0;
    margin-top: 20px;
  }

  .hero-text {
    display: none;
  }

  .logo-image {
    display: none;
  }

  .jbl {
    display: block;
    width: 34px;
    height: 30px;
    object-fit: contain;

    margin-top: 20px;
  }

  .follow-us p {
    left: 3px;
    top: 220px;
    font-size: 13px;
  }

  .social {
    left: 33px;
    top: 353px;
  }

  hr {
    left: 20px;
    position: absolute;
    top: 304px;
    width: 48px;
    color: #9d9895;
  }

  .social-media {
    width: 20px;
    height: 20px;
  }

  #landing-section {
    background-image: none;
    height: 647px;
  }

  .block2-contents p {
    width: 328px;
    height: 115px;
  }

  .block2-contents {
    width: 320px;
    text-align: start;
  }

  .block2-contents h3 {
    font-size: 20px;
  }

  .items {
    height: 479px;
  }

  .items h3 {
    font-size: 20px;
  }

  .spec-head h3 {
    font-size: 20px;
  }

  .spec-sec {
    height: 572px;
  }

  .block2-contents {
    width: 330px;
    text-align: start;
  }

  .blr img {
    width: 100%;
    max-width: 180px;
  }

  .no-blr img {
    width: 100%;
    max-width: 220px;
    height: auto;
  }

  .no-blr-btn .nbb {
    background: linear-gradient(90deg, #4a4745 0%, #151414 100%);
    width: 138px;
    height: 39px;
  }

  .blr-btn .bb {
    background: linear-gradient(90deg, #4a4745 0%, #151414 100%);
    width: 138px;
    height: 39px;
    color: #0b0a09;
    background: #0b0a09;
  }
  .home-main-img {
    display: flex;
    margin-top: 135px;
    margin-left: 82px;
    position: relative;
  }

  .dot{
    width: 20px;
    height: 20px;
    top: 3px;
    left: 136px;
    gap: 0px;
    opacity: 0px;
    position: absolute;
  }

  .line1{
    position: absolute;
    width: 31px;
    left: 146px;
    top: -14px;
  }
  
  .line2{
    position: absolute;
    width: 32px;
    left: 176px;
    top: -14px;

  }

  .r150{
    width: 100px;
    height: 50px;
    position: absolute;
    object-fit: contain;
    left: 156px;
    top: -38px;
  }

  .home-main-img .logo-small {
    width: 111px;
    height: 47px;
    position: absolute;
    left: 134px;
    top: -21px;
  }

  .home-main-img h1 {
    font-size: 160px;
    color: #590078;
  }

  .home-headset {
    width: 220px;
    height: 262px;
    position: absolute;
  }

  .home-tooltip {
    position: absolute;
    margin-left: 157px;
    margin-top: 21px;
    z-index: 1;
  }

  .home-tooltip img {
    width: 95px;
    height: 32px;
    object-fit: contain;
    position: absolute;
    z-index: -1;
  }

  .home-tooltip button {
    width: 54px;
  }

  .home-j {
    z-index: 1;
  }

  .socialmedia-links {
    display: grid;
  }

  .sponser {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }

  .foot-row {
    display: flex;
    justify-content: space-around;
  }

  .foot-col {
    margin-right: 0;
    margin-bottom: 20px;
    text-align: center;
  }

  .subscribe-btn {
    position: static;
    margin-top: 10px;
    width: 100%;
    justify-content: center;
  }

  .foot-desc {
    font-size: 12px;
    text-align: center;
    padding-top: 75px;
  }

  .section-footer {
    width: 100%;
    background-color: #0b0a09;
    color: white;
    height: 670px;
  }

  .f-logo .jbl {
    display: block;
    width: 34px;
    height: 30px;
    object-fit: contain;
    margin-top: 20px;
    position: relative;
    left: -131px;
    margin-bottom: 49px;
  }

  .social-med {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: auto;
  }

  .sponser-main {
    width: 100%;
    max-width: 1440px;
    height: 329px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 0 auto;
    padding: 0 20px;
  }

  .sponser-img img {
    width: 100px;
    height: 35.13px;
    object-fit: contain;
    margin-bottom: 60px;
  }

  .foot-desc .desktop-desc {
    margin-top: 10px;
  }

  .spec-btn2 button {
    color: white;
    padding: 10px 20px;
    border-radius: 30px;
    display: flex;
    align-items: center;
    gap: 5%;
    width: 158px;
    height: 56px;
    border: none;
    background: linear-gradient(90deg, #4a4745 0%, #151414 100%);
    left: 49px;
    top: 315px;
    position: absolute;
  }

  .spec-btn2 button img {
    width: 32px;
    height: 32px;
    padding: 2.67px;
    gap: 0px;
    opacity: 0px;
  }

  .foot-btn input {
    padding: 10px;
    border: none;
    border-radius: 39px;
    width: 309px;
    height: 62px;
    background: #1b1918;
  }

  .home-main-img h1 {
    font-size: 160px;
    color: #590078;
    position: relative;
    top: -23px;
  }

  .home-headset {
    width: 243px;
    height: 262px;
    position: absolute;
  }

  .footer-div {
    width: 100%;
    max-width: 1440px;
    height: 659px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 0 auto;
    padding: 0 20px;
  }

  .spec-btn button{
    position: relative;
    top: 30px;
  }
}

@media (max-width: 377px) {
  .menu .menu-img {
    width: 24px;
    height: auto;
    position: relative;
    top: 0;
    left: 0;
    margin-top: 20px;
  }

  .spec-btn button {
    position: relative;
    top: 44px;
  }

  .logo-image {
    display: none;
  }

  .jbl {
    display: block;
    width: 34px;
    height: 30px;
    object-fit: contain;
    margin-top: 20px;
  }

  .follow-us p {
    left: 0px;
    top: 220px;
  }

  .social {
    left: 33px;
    top: 331px;
  }

  hr {
    left: 18px;
    position: absolute;
    top: 287px;
  }

  #landing-section {
    background-image: none;
    height: 647px;
  }

  .block2-contents p {
    width: 328px;
    height: 115px;
    position: relative;
    top: 35px;
  }

  .block2-contents {
    width: 320px;
    text-align: start;
  }

  .block2-contents h3 {
    font-size: 20px;
    position: relative;
    top: 20px;
  }

  .items {
    height: 383px;
  }

  .items h3 {
    font-size: 20px;
  }

  .spec-head h3 {
    font-size: 20px;
  }

  .spec-sec {
    height: 572px;
  }

  .block2-contents {
    width: 320px;
    text-align: start;
  }

  .blr img {
    width: 100%;
    max-width: 180px;
    margin-left: 19px;
  }

  .no-blr img {
    width: 121%;
    max-width: 233px;
    height: auto;
  }

  .no-blr-btn .nbb {
    background: linear-gradient(90deg, #4a4745 0%, #151414 100%);
    width: 138px;
    height: 39px;
  }

  .blr-btn .bb {
    background: linear-gradient(90deg, #4a4745 0%, #151414 100%);
    width: 138px;
    height: 39px;
    color: #0b0a09;
    background: #0b0a09;
  }

  .home-main-img {
    display: flex;
    margin-top: 135px;
    margin-left: 73px;
    position: relative;
  }

  .dot{
    width: 20px;
    height: 20px;
    top: 3px;
    left: 136px;
    gap: 0px;
    opacity: 0px;
    position: absolute;
  }

  .line1{
    position: absolute;
    width: 31px;
    left: 147px;
    top: -14px;
  }
  
  .line2{
    position: absolute;
    width: 32px;
    left: 177px;
    top: -14px;

  }

  .r150 {
    width: 107px;
    height: 63px;
    position: absolute;
    object-fit: contain;
    left: 168px;
    top: -45px;
  }

  .home-main-img .logo-small {
    width: 111px;
    height: 43px;
    position: absolute;
    left: 153px;
    top: -21px;
  }

  .home-headset {
    width: 220px;
    height: 262px;
    position: absolute;
  }

  .home-tooltip {
    position: absolute;
    margin-left: 157px;
    margin-top: 21px;
    z-index: 1;
  }

  .home-tooltip img {
    width: 95px;
    height: 32px;
    object-fit: contain;
    position: absolute;
    z-index: -1;
  }

  .home-tooltip button {
    width: 54px;
  }

  .home-j {
    z-index: 1;
  }

  .socialmedia-links {
    display: grid;
  }

  .sponser {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }

  .foot-row {
    display: flex;
    justify-content: space-around;
  }

  .foot-col {
    margin-right: 0;
    margin-bottom: 20px;
    text-align: center;
  }

  .subscribe-btn {
    position: static;
    margin-top: 10px;
    width: 100%;
    justify-content: center;
  }

  .foot-desc {
    font-size: 12px;
    text-align: center;
    padding-top: 75px;
  }

  .section-footer {
    width: 100%;
    background-color: #0b0a09;
    color: white;
    height: 607px;
  }

  .footer-div {
    width: 100%;
    max-width: 1440px;
    height: 570px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 0 auto;
    padding: 0 20px;
    position: absolute;
    left: -15px;
  }

  .f-logo .jbl {
    display: block;
    width: 34px;
    height: 30px;
    object-fit: contain;
    margin-top: 20px;
    position: relative;
    left: -117px;
    margin-bottom: 49px;
  }

  .social-med {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: auto;
  }

  .sponser-main {
    width: 100%;
    max-width: 1440px;
    height: 329px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 0 auto;
    padding: 0 20px;
  }

  .sponser-img img {
    width: 100px;
    height: 35.13px;
    object-fit: contain;
    margin-bottom: 60px;
  }

  .foot-desc .desktop-desc {
    margin-top: 10px;
    display: none;
  }

  .foot-desc .mobile-description {
    margin-top: 10px;
    display: block;
  }

  .spec-btn2 button {
    color: white;
    padding: 10px 20px;
    border-radius: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5%;
    width: 158px;
    height: 56px;
    border: none;
    background: linear-gradient(90deg, #4a4745 0%, #151414 100%);
    left: 39px;
    top: 315px;
    position: absolute;
  }

  .spec-btn2 button img {
    width: 32px;
    height: 32px;
    padding: 2.67px;
    gap: 0px;
    opacity: 0px;
  }

  .foot-btn input {
    padding: 10px;
    border: none;
    border-radius: 39px;
    width: 320px;
    height: 56px;
    background: #1b1918;
    margin-top: 30px;
  }

  .home-main-img h1 {
    font-size: 160px;
    color: #590078;
    position: relative;
    top: -40px;
  }

  .home-headset {
    width: 243px;
    height: 262px;
    position: absolute;
  }

  .headphone .d4 {
    width: 20px;
    height: 20px;
    position: absolute;
    top: 65px;
    left: 236px;
  }

  .headphone .l21 {
    width: 28px;
    position: absolute;
    top: 53px;
    left: 212px;
  }

  .headphone .l22 {
    width: 30px;
    position: absolute;
    border: 2px #7d7978;
    top: 53px;
    left: 183px;
  }

  .headphone .easy {
    max-width: 105px;
    height: 50px;
    position: absolute;
    top: 29px;
    right: 85px;
  }
}

@media (max-width: 321px) {
  .home-main-img h1 {
    font-size: 137px;
    color: #590078;
  }

  .home-headset {
    width: 210px;
    height: 251px;
    position: absolute;
  }

  .spec-btn2 button {
    color: white;
    padding: 10px 20px;
    border-radius: 30px;
    display: flex;
    align-items: center;
    gap: 5%;
    width: 158px;
    height: 56px;
    border: none;
    left: 6px;
    top: 315px;
    position: absolute;
  }

  .block2-contents p {
    width: 324px;
    height: 115px;
  }

  .block2-contents p {
    width: 299px;
    height: 115px;
  }

  .foot-btn input {
    padding: 10px;
    border: none;
    border-radius: 39px;
    width: 242px;
    height: 62px;
    background: #1b1918;
  }

  .home-main-img .logo-small {
    width: 111px;
    height: 43px;
    position: absolute;
    left: 134px;
    top: -21px;
  }

  .dot{
    width: 20px;
    height: 20px;
    top: 3px;
    left: 124px;
    gap: 0px;
    opacity: 0px;
    position: absolute;
  }

  .line1{
    position: absolute;
    width: 31px;
    left: 133px;
    top: -14px;
  }
  
  .line2{
    position: absolute;
    width: 32px;
    left: 163px;
    top: -14px;

  }

  .r150{
    width: 100px;
    height: 50px;
    position: absolute;
    object-fit: contain;
    left: 146px;
    top: -38px;
  }

  .block2-contant-sec2 {
    display: flex;
    justify-content: center;
    width: 303px;
  }
  
}
